<div class="row">
  <div class="col-md-8">
      <div id="map"></div>
  </div>
<div class="col-md-4">
  <legend>Add New Pokemon Shop</legend>
<div class="form-group">
  <label class="col-md-6 control-label" for="shopName">Pokemon Shop Name</label>
  <input id="shopName" name="name" type="text" placeholder="Shop Name" class="form-control input-md" required="">
</div>

      <div class="form-group">
        <label class="col-md-6 control-label" for="shopAddress">Address</label>
        <input id="textinput" name="shopAddress" type="text" placeholder="Address" class="form-control input-md"> 
      </div>

      <div class="form-group">
        <label class="col-md-6 control-label" for="releaseDate">Website</label>
        <input id="releaseDate" name="releaseDate" type="text" placeholder="Website name" class="form-control input-md">
      </div>

      <div class="form-group">
        <label class="col-md-6 control-label" for="releaseDate">Phone Number</label>
        <input id="releaseDate" name="releaseDate" type="text" placeholder="Phone Number" class="form-control input-md">
      </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton">Save Pokemon Shop</label>
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
    </div>
     
