<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pokeman Go</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  
    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js" class="image"></script>
  </head>
  <body>
   <nav>
       <div class="go_image">
          <img src="images/pokemon_go.png" alt="Pokemon Go" padding="30" height="75" width="127">
          <h1>Find your local Gym</h1>
       </div>
    </nav>

    <div class="col-md-14">
    <ul class="topnav">
          <li><a href="#home">Home</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#Pokemon">Pokemon List</a></li>
          <li><a href="#about">About</a></li>
    </ul>
    </div>

    <div class="row">
      <div class="col-md-8">
          <div id="map"></div>
      </div>

    <div class="col-md-4">
          
      <legend>Add New Pokemon Shop</legend>
              
      <div class="form-group">
        <label class="col-md-6 control-label" for="shopName">Pokemon Shop Name</label>
        <input id="shopName" name="name" type="text" placeholder="Shop Name" class="form-control input-md" required="">
      </div>

      <div class="form-group">
        <label class="col-md-6 control-label" for="shopAddress">Address</label>
        <input id="textinput" name="shopAddress" type="text" placeholder="Address" class="form-control input-md"> 
      </div>

      <div class="form-group">
        <label class="col-md-6 control-label" for="releaseDate">Website</label>
        <input id="releaseDate" name="releaseDate" type="text" placeholder="Website name" class="form-control input-md">
      </div>

      <div class="form-group">
        <label class="col-md-6 control-label" for="releaseDate">Phone Number</label>
        <input id="releaseDate" name="releaseDate" type="text" placeholder="Phone Number" class="form-control input-md">
      </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton">Save Pokemon Shop</label>
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </body>
</html>
