<br>
<br>
<img src="/images/pokemon.png" height=200 width=500>
<br>	
<div class="col-md-12 text-center"> 
	<a href="/home" type="button" href="/home" class="btn btn-danger btn-lg">View Pokemon Map</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-12">
	<div class="col-md-4">
		<img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full//007.png" style="width:254px;height:228px;">
	</div>
	<div class="col-md-4">
		<img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" style="width:254px;height:228px;">
	</div>
	<div class="col-md-4">
		<img src="http://vignette2.wikia.nocookie.net/pokemon/images/e/ef/025Pikachu_Pokemon_Mystery_Dungeon_Red_and_Blue_Rescue_Teams.png/revision/latest?cb=20150105233050" style="width:204px;height:228px;">
	</div>

</div>