<!DOCTYPE html>
<html lang="en">
<head>
<link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/ >

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pokeman Go</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="/styles/styles.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
      <script src="/scripts/app.js" class="image"></script>
</head>
<body>
<header>
<nav class="navbar navbar-inverse">
  <a class="navbar-brand"><img src="/images/pokemon.png" height="40" width="125"></a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pokemon-list">Pokemon List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/map">Pokemon Map</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="#myModal" role="button" data-toggle="modal">Add New Pokemon Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#myModal1" role="button" data-toggle="modal">Add a New Pokemon</a>
    </li>
  </ul>
  <a href="/admin" id="admin">Admin Login</a>
  <a class="navbar-github" href="https://github.com/hockey2249/project_2_Gibbons_Kyle" id="github" target="_blank"><img src="http://pritishc.com/images/social/github.png" height="40" width="40"></a>
</nav>

<div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add A Pokemon Gym</h4>
          <div class="modal-body">
            <form action="/pokemons" method="post">
                <label for="pokemon[name]">Name:</label>
                <input name="pokemon[name]">
                <label for="pokemon[address]">Address:</label>
                <input name="pokemon[address]">
                <label for="pokemon[website]">Website:</label>
                <input name="pokemon[website]">
                <input type="submit" value="Create">
            </form>
          </div>
          </div> 
        </div> 
      </div>
</div>    
<div id="myModal1" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add A Pokemon</h4>
          <div class="modal-body">
            <form action="/pokemonads" method="post">
                <label for="pokemonad[pokemon_name]">Pokemon Name:</label>
                <input name="pokemonad[pokemon_name]">
                <label for="pokemonad[photo_url]">Add Pokemon Image:</label>
                <input name="pokemonad[photo_url]">
                <label for="pokemonad[address]">Add Address:</label>
                <input name="pokemonad[address]">
                <input type="submit" value="Create">
            </form>
          </div>
          </div> 
        </div> 
      </div>
</div> 

</header>

<main>
    <%= yield %>
</main>
<!-- Scripts -->
    <!-- jQuery CDN -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Bootstrap JS CDN--> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<footer>
<!--   <ul id="footerlist">
    <a href="#"><li>About</li>
    <a href="#"><li>Careers</li>
    <a href="/map"><li>Pokemon Map</li>
    <a href="/pokemon-list"><li>Pokemon List</li>
  </ul> -->
</footer>
</body>
</html>