<body class="pokemon_list">
<div class="row-lg-12">
	<div class="col-md-4">	
		<h1>Bulbasaur is a Grass/Poison type Pokémon introduced in Generation 1. It is known as the Seed Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/2/21/001Bulbasaur.png/250px-001Bulbasaur.png">	
	</div>
<div class="col-md-4">	
	<h1>Ivysaur is a Grass/Poison type Pokémon introduced in Generation 1. It is known as the Seed Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/7/73/002Ivysaur.png/250px-002Ivysaur.png">		
</div>
<div class="col-md-4">	
	<h1>Venusaur is a Grass/Poison type Pokémon introduced in Generation 1. It is known as the Seed Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/a/ae/003Venusaur.png/250px-003Venusaur.png">		
</div>
<HR COLOR="red" WIDTH="100%">
<div class="row-lg-12">
	<div class="col-md-4">	
		<h1>Charmander is a Fire type Pokémon introduced in Generation 1. It is known as the Lizard Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/7/73/004Charmander.png/250px-004Charmander.png">	
	</div>
<div class="col-md-4">	
	<h1>Charmeleon is a Fire type Pokémon introduced in Generation 1. It is known as the Flame Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/4/4a/005Charmeleon.png/250px-005Charmeleon.png">		
</div>
<div class="col-md-4">	
	<h1>Charizard is a Fire/Flying type Pokémon introduced in Generation 1. It is known as the Flame Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/7/7e/006Charizard.png/250px-006Charizard.png">		
</div>
<HR COLOR="red" WIDTH="100%">
<div class="row-lg-12">
	<div class="col-md-4">	
		<h1>Squirtle is a Water type Pokémon introduced in Generation 1. It is known as the Tiny Turtle Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/3/39/007Squirtle.png/250px-007Squirtle.png">	
	</div>
<div class="col-md-4">	
	<h1>Wartortle is a Water type Pokémon introduced in Generation 1. It is known as the Turtle Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/0/0c/008Wartortle.png/250px-008Wartortle.png">		
</div>
<div class="col-md-4">	
	<h1>Blastoise is a Water type Pokémon introduced in Generation 1. It is known as the Shellfish Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/0/02/009Blastoise.png/250px-009Blastoise.png">		
</div>
<HR COLOR="red" WIDTH="100%">
<div class="row-lg-12">
	<div class="col-md-4">	
		<h1>Caterpie is a Bug type Pokémon introduced in Generation 1. It is known as the Worm Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/5/5d/010Caterpie.png/250px-010Caterpie.png">	
	</div>
<div class="col-md-4">	
	<h1>Metapod is a Bug type Pokémon introduced in Generation 1. It is known as the Cocoon Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/c/cd/011Metapod.png/250px-011Metapod.png">		
</div>
<div class="col-md-4">	
	<h1>Butterfree is a Bug/Flying type Pokémon introduced in Generation 1. It is known as the Butterfly Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/d/d1/012Butterfree.png/250px-012Butterfree.png">		
</div>
<HR COLOR="red" WIDTH="100%">
<div class="row-lg-12">
	<div class="col-md-4">	
		<h1>Weedle is a Bug/Poison type Pokémon introduced in Generation 1. It is known as the Hairy Bug Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/d/df/013Weedle.png/250px-013Weedle.png">	
	</div>
<div class="col-md-4">	
	<h1>Kakuna is a Bug/Poison type Pokémon introduced in Generation 1. It is known as the Cocoon Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/f/f0/014Kakuna.png/250px-014Kakuna.png">		
</div>
<div class="col-md-4">	
	<h1>Beedrill is a Bug/Poison type Pokémon introduced in Generation 1. It is known as the Poison Bee Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/6/61/015Beedrill.png/250px-015Beedrill.png">		
</div>
<HR COLOR="red" WIDTH="100%">
<div class="row-lg-12">
	<div class="col-md-4">	
		<h1>Pidgey is a Normal/Flying type Pokémon introduced in Generation 1. It is known as the Tiny Bird Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/5/55/016Pidgey.png/250px-016Pidgey.png">	
	</div>
<div class="col-md-4">	
	<h1>Pidgeotto is a Normal/Flying type Pokémon introduced in Generation 1. It is known as the Bird Pokémon.</h1>
		<img src="http://static.pokemonpets.com/images/monsters-images-300-300/17-Pidgeotto.png">		
</div>
<div class="col-md-4">	
	<h1>Pidgeot is a Normal/Flying type Pokémon introduced in Generation 1. It is known as the Bird Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/5/57/018Pidgeot.png/250px-018Pidgeot.png">		
</div>
<HR COLOR="red" WIDTH="100%">
<div class="row-lg-12">
	<div class="col-md-4">	
		<h1>Rattata is a Normal type Pokémon introduced in Generation 1. It is known as the Mouse Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/4/46/019Rattata.png/250px-019Rattata.png">	
	</div>
<div class="col-md-4">	
	<h1>Raticate is a Normal type Pokémon introduced in Generation 1. It is known as the Mouse Pokémon.</h1>
		<img src="http://cdn.bulbagarden.net/upload/thumb/f/f4/020Raticate.png/250px-020Raticate.png">		
</div>
</body>



